
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/**
#logo {
  position: absolute;
  top: 4px;
  right: 110;
  width: 180px;
  height: 200px;
  margin: auto;}

* Add your custom styles below
   {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


